

<div class="container">
    <div>
        <h1>All Users Data</h1>
    </div>
    
        <div>
            <table>
                <th>Id</th>
                <th class="th">Name</th>
                <th>Age</th>
                <th>Pan</th>
                <th>Aadhar</th>
                
                
                <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.pan }}</td>
                    <td>{{ user.aadhar }}</td>
                    <td><button class="btn-table" (click)="update(user.id)">Update</button></td>
                    <td><button class="btn-table del" (click)="delete(user.id)">Delete</button></td>
                </tr>

            </table>
        </div>

    <div class="btn-div">
        <a routerLink="/home"> <button class="btn"> Home </button></a>

    </div>
</div>
