*{
    box-sizing: border-box;
}

.container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn{
    width: 200px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    padding: 15px;
}

h1{
    text-align: center;
}